<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Lesson Store</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button @click=""toggleShowProduct>
                {{totalItemsInTheCart}}
                <span class="fas fa-shopping-basket"></span>
                Checkout
            </button>
            <button @click="saveProductToDB">
                <span class="fas fa-save"></span>
                Test Save Product
            </button>
        </header>

        <div v-if="showProduct">
            <main>
                <div v-for="product in sortedProducts">
                    <h1 v-text="product.title"></h1>
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                    <p v-text="product.description"></p>
                    <p>Price: {{product.price}}</p>
                    <button v-if="canAddToCart(product)" v-on:click="addItemToCart(product)">
                        Add to Cart
                    </button>
                    <button v-else disabled> Add to Cart

                    </button>
                    <span v-if="itemsLeft(product) === 0">Al out</span>
                </div>
            </main>
        </div>
    </div>
    <script>
        // const app = Vue.createApp({
//     el: '#app',
//     data() {
//         return {
//             cart: [],
//             sortedPrice: true,
//             showProducts: 0,
//             sortingOrder: "asc",
//             sortBy: "name",
//             products: "http://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/products",
//             //products: "http://localhost:3000/collections/products",
//             orders:
//             {
//                 name: '',
//                 phone: '',
//                 slots: [],
//             },
//             lessonsData: [],
//             cartData: []
//         }
//     },

//     created() {
//         //fetch("http://localhost:3000/collections/products").then(
//         fetch("http://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/products").then(
//             function (response) {
//                 response.json().then(
//                     function (json) {
//                         Webstore.products = json;
//                     }
//                 )
//             }
//         );
//         //     fetch("http://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/products")
//         //         .then(response => response.json())
//         //         .then(data => {
//         //             // Loop through the JSON data and insert it into the HTML
//         //             data.forEach(product => {
//         //                 let container = document.getElementById("productCards");
//         //                 let productHTML = `
//         //     <div class="product">
//         //       <h2>${product.name}</h2>
//         //       <p>${product.description}</p>
//         //       <p>Price: ${product.price}</p>
//         //       <p>Location: ${product.location}</p>
//         //       <p>Spaces: ${product.spaces}</p>
//         //       <img src="${product.image}" alt="${product.name}">
//         //     </div>
//         //   `;
//         //                 container.innerHTML += productHTML;
//         //             });
//         //         });
//         // }
//         // fetch("http://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/products")
//         // .then(response => response.json())
//         // .then(data => {
//         //   let products = data.products;
//         //   let result = "";
//         //   products.forEach(function(product) {
//         //     result += `
//         //       <h2>${product.name}</h2>
//         //       <p>${product.description}</p>
//         //       <p>Price: ${product.price}</p>
//         //       <p>Location: ${product.location}</p>
//         //       <p>Spaces: ${product.spaces}</p>
//         //     `;
//         //   });
//         //   document.getElementById("productCards").innerHTML = result;
//         // });
//     }

// });

let Webstore = new Vue ({
    el: "#app",
    data: {
        sitename: "Lesson Store",
        showProduct: true,
        products: [],
        cart: [],
        order: {
            name: "",
            surname: "",
            address: "",
            city: "",
            state: "",
            zip: "",
            gift:"Do not send as gift",
            method: "Home",
            sendGift: "Send as gift",
            dontSendGift: "Do not send as gift"
        },
        states: {
            AL: "Alabama",
            AR: "Arizona",
            CA: "California",
            NV: "Nevada"
        }
    },
    created: function(){
        fetch("http://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/products").then(
            function(response) {
                response.json.then(
                    function(json){
                        alert(json);
                        Webstore.products = json;
                    }
                )
            }
        );
    },
})
    </script>
</body>
</html>