<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="style.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="manifest" href="app.manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #products {
            font-family: Arial, Helvetica, sans-serif;
            font-size: smaller;
            text-align: center;
            border: 5px solid black;
            max-width: 400px;
        }



        #addButt {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 405px;
            font-size: 18px;
        }

        #addButt:hover {
            background-color: rgb(39, 39, 39);
        }

        #app {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        #productCards {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        #productCardsCart {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        #lesson2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: smaller;
            text-align: center;
            border: 5px solid black;
            max-width: 400px;
            min-width: 400px;
        }

        #sorting {
            position: relative;
            left: 500px;
        }
    </style>
</head>

<body>
    <div id="app">
        <button class="btn" v-on:click='showCheckout'>{{cartItemCount}}<span
                class="fa fa-shopping-basket"></span>Basket</button>
        <div v-if="showCart">
            <!-- <input class="myInput" type="text" v-model="searchText" @input="search" placeholder="Search..." /> -->
            <div id="productCards">
                <div v-for="product in products" id="products">
                    <img v-bind:src="product.image">
                    <h1>{{ product.name }}</h1>
                    <h2 v-html="product.description"></h2>
                    <p>Price: £{{product.price}}</p>
                    <p>Location: {{product.location}}</p>
                    <p>
                        <b>Spaces:</b>
                        <span v-if="product.spaces">Only {{product.spaces}} left!</span>
                        <!-- Similar to an if statement. Will display the spaces left -->
                        <span v-if="product.spaces === 0">OUT OF STOCK!</span>
                        <!-- Once spaces reaches 0, text changed to "OUR OF STOCK" -->
                    </p>

                    <button class="Addbtn" id="addButt" v-on:click="addItem(product)" :disabled="product.spaces === 0">
                        <span v-if="product.spaces > 0">Purchase products</span>
                        <span v-if="product.spaces === 0">OUT OF STOCK!</span>
                    </button>

                </div>
            </div>
        </div>
        <div v-else>
            <div id="productCards">
                <div v-for="product in products"  id="lesson2">
                    <ul v-for="item in cart">
                        <li v-if="product.id === product" class="checkout_page"></li>
                        <h1>{{ product.name }}</h1>
                        <h2 v-html="product.description"></h2>
                        <p>Price: £{{product.price}}</p>
                        <p>Location: {{product.location}}</p>
                        <button @click="removeLesson(index)">Delete Order</button>
                        </li>
                    </ul>
                </div>
            </div>

            <p>
                Name:<br>
                <input type="text" v-model.trim="name" placeholder="Name..." required>
            </p>
            <p>
                Phone Number:<br>
                <input type="number" v-model.number="phone" placeholder="Phone No." required>
            </p>

            <button @click="submitCheck">Check Out</button>
        </div>
    </div>

    
    <script src="products.js"></script>
    <script >
        const app = new Vue({
    el: '#app',
    data() {
        return {
            products: [],
            cart: [],
            sortedPrice: true,
            showCart: true,
            sortingOrder: "asc",
            sortBy: "name",
            url: "https://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections",
            //url: "https://localhost:3000/collections",
           products: products,
            orders:
            {
                name: '',
                phone: '',
            },
            lessonsIdsOrder: [],
        }
    },

    //fetching the products in json from the get path
    created: function () {
        if ("serviceWorker" in navigator){
            navigator.serviceWorker.register("service-worker.js");
        }
    //     fetch("https://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/products")
    //         .then((response) => response.json())
    //         .then((products) => {
    //             this.products = products;
    //             return;
    //         });
    //     this.getproducts();
    },
    methods: {
        // getproducts() {
        //     const url = `${this.url}/products/?search=${this.searchText}`;
        //     fetch(url)
        //         .then((response) => response.json())
        //         .then((products) => {
        //             this.products = products;
        //         });
        // },//end get products
        addItem: function (lesson) {
            this.cart.push(lesson.id);
            lesson.spaces -= 1;

        },
        canAddToCart(lesson) {
            return lesson.spaces > this.cartCount(lesson.id);
        },
        cartCount(products) {   
            let count = 0;       //Gets the item in cart By id
            for (i = 0; i < this.cart.length; i++) {
                if (this.cart[i].products === products) {
                    return this.cart[i]
                }
            }
            return count;
        },
        sortTable(key, direction) {
            this.sort = `${key} > ${direction}`
            if (direction === 'asc') {
                this.lessons.sort((a, b) => a[key] > b[key] ? 1 : -1)
            } else {
                this.lessons.sort((a, b) => a[key] < b[key] ? 1 : -1)
            }
            //DO THE CURL GET STUFF TO SORT
        },
        showCheckout() {
            this.showCart = this.showCart ? false : true;
        },
        // submitCheck() {
        //     this.computeLessonsForOrder();
        //     const newOrder = {
        //         "name": this.order.name,
        //         "phoneNumber": this.order.phone_number,
        //         "lessonId": this.lessonsIdsOrder,
        //         "numberOfSpaces": this.orderLessonSpaces
        //     }

        //     fetch("https://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/orders", {
        //         method: "POST",
        //         headers: {
        //             "Content-Type": "application/json",
        //         },
        //         body: JSON.stringify(newOrder)
        //     }).then(
        //         function (response) {
        //             response.json().then(
        //                 function (json) {
        //                     console.log("Success: " + json.ackowledged);


        //                 }
        //             )
        //         }
        //     )

        //     //PUT route for updating the lessons
        //     this.cart.forEach(j => {
        //         this.lessons.forEach(i => {

        //             let count = null;
        //             if (j == i.id) {
        //                 count = count + 1;

        //                 const updateLesson = {
        //                     "availableSpaces": i.availableSpaces - count
        //                 }
        //                 //https://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/products
        //                 fetch(`https://lessonapp-env.eba-uiw2prds.us-east-1.elasticbeanstalk.com/collections/lessons/${i._id}`, {
        //                     method: "PUT",
        //                     headers: {
        //                         "Content-Type": "application/json",
        //                     },
        //                     body: JSON.stringify(updateLesson)
        //                 }).then(
        //                     function (response) {
        //                         response.json().then(
        //                             function (json) {
        //                                 console.log("Success: " + json.ackowledged);
        //                             }
        //                         )
        //                     }
        //                 )
        //             }
        //         })
        //     })
        //     alert("Thank you for submitting your order!");
        // },
        // classesLeft(lesson) {
        //     return lesson.spaces - this.cartCount(lesson.id);
        // },
        removeLesson(index) {
            this.cart.splice(index, 1);
        },
    },//end method
    computed: {
        cartItemCount() {
            return this.cart.length || '';
        },
    }

});
    </script>
</body>



</html>