<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta elements-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <!--Importing Vue-->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <!--CSS styling-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="mystyles.css">

    <title>After School Club</title>
</head>

<body>

    <div id="app">
        <header>
            <h1>After School Club</h1>
        </header>

        <div class="checkout_button">
            <!--Switching from main page to checkout page-->
            <button @click="toggleShowProduct" v-bind:disabled="!canCheckout" class="checkout_button2">
                {{totalItemsInTheCart}}
                <span class="fas fa-shopping-cart"></span>
                Checkout
            </button>
        </div>

        <!--Sorting and search bar html section-->
        <div v-if="showProduct" class="sort_and_search">

            <!--Searching-->
            <div class="search_bar">
                <input class="searchbar" type="text" v-model="searchTerm" @input="search" placeholder="Search..." />
            </div>

            <!--Sorting-->
            <div class="sort_section">
                <h2>Sort by:</h2>
                <ul>
                    <li @click="sort('title')" v-bind:class="[sortBy === 'title' ? sortDirection : '']">
                        Subject</li>
                    <li @click="sort('location')" v-bind:class="[sortBy === 'location' ? sortDirection : '']">
                        Location</li>
                    <li @click="sort('price')" v-bind:class="[sortBy === 'price' ? sortDirection : '']">
                        Price</li>
                    <li @click="sort('availableSpaces')"
                        v-bind:class="[sortBy === 'availableSpaces' ? sortDirection : '']">
                        Availability</li>
                </ul>
            </div>

        </div>

        <div v-if="showProduct" class="float_container">

            <div v-if="searchResults.length">
                <main>

                    <!--Product display of the available lessons according to search requests-->
                    <div v-for="lesson in searchResults" class="float_child">

                        <figure>
                            <img v-bind:src="lesson.image" width="100px" height="=100px">
                        </figure>

                        <h1 v-text="lesson.title"></h1>
                        <p><b>Location:</b> {{ lesson.location }}</p>
                        <p><b>Description:</b> {{ lesson.description }}</p>
                        <p><b>Price:</b> {{lesson.price}}</p>

                        <button v-on:click="addItemToCart(lesson)" v-if="canAddToCart(lesson)">
                            Add to the Cart</button>

                        <button v-else disabled>Add to the Cart</button>

                        <!--Conditions regarding the product availability display-->
                        <span v-if="classesLeft(lesson) === 0">
                            All out!</span>

                        <span v-else-if="classesLeft(lesson) < 4">
                            Only {{classesLeft(lesson)}} left!</span>

                        <span v-else>
                            Buy now!</span>

                        <!--Simple rating system-->
                        <div>
                            <span v-for="n in lesson.rating"> ★ </span>
                            <span v-for="n in 5 - lesson.rating"> ☆ </span>
                        </div>

                    </div>
                </main>

            </div>

            <div v-else>
                <main>

                    <!--Product display of the available lessons-->
                    <div v-for="lesson in sortedLessons" class="float_child">

                        <figure>
                            <img v-bind:src="lesson.image" width="100px" height="=100px">
                        </figure>

                        <h1 v-text="lesson.title"></h1>
                        <p><b>Location:</b> {{ lesson.location }}</p>
                        <p><b>Description:</b> {{ lesson.description }}</p>
                        <p><b>Price:</b> {{lesson.price}}</p>

                        <button v-on:click="addItemToCart(lesson)" v-if="canAddToCart(lesson)">
                            Add to the Cart</button>

                        <button v-else disabled>Add to the Cart</button>

                        <!--Conditions regarding the product availability display-->
                        <span v-if="classesLeft(lesson) === 0">
                            All out!</span>

                        <span v-else-if="classesLeft(lesson) < 4">
                            Only {{classesLeft(lesson)}} left!</span>

                        <span v-else>
                            Buy now!</span>

                        <!--Simple rating system-->
                        <div>
                            <span v-for="n in lesson.rating"> ★ </span>
                            <span v-for="n in 5 - lesson.rating"> ☆ </span>
                        </div>

                    </div>
                </main>
            </div>

        </div>

        <div v-else class="checkout_page">

            <h2 class="fixed"> .... </h2>
            <h2 class="fixed"> .... </h2>
            <h2 class="checkout_lessons"> Here are the lessons you have picked: </h2>

            <!--Listing the lessons chosen by the user-->
            <div v-for="lesson in lessons" class="inner_lessons">

                <ul v-for="(item,index) in cart">
                    <li v-if="lesson.id === item" class="checkout_page">
                        <b>{{lesson.title}}</b> class at <b>{{lesson.location}}</b> for <b>{{lesson.price}}</b> pounds

                        <button @click="removeLesson(index)"> Remove </button>
                    </li>
                </ul>

            </div>

            <!--User input validation container-->
            <p v-if="order.errors.length">
                <b>Please consider the following requirements:</b>
            <ul>
                <li v-for="error in order.errors">{{ error }}</li>
            </ul>
            </p>

            <p>
                <strong>Name:</strong>
                <input type="text" v-model.trim="order.name">
            </p>

            <p>
                <strong>Phone:</strong>
                <input type="text" v-model.trim="order.phone_number">
            </p>

            <button @click="submitCheckoutForm" v-bind:disabled="!canSubmitDetails">Place your order</button>

        </div>

    </div>

    <script>
        let webstore = new Vue({
            el: "#app",
            data: {
                //Site values
                sitename: "After School Club",
                //Toggling value
                showProduct: true,
                //Search helper values
                searchTerm: '',
                searchResults: [],
                //Accessing the "lessons.js" array
                lessons: [],
                //Main cart array
                cart: [],
                //Sorting helper values
                sortBy: 'name',
                sortDirection: 'asc',
                //Input validation helper values
                order: {
                    errors: [],
                    name: null,
                    phone_number: null,
                },
                //Order information helper values
                lessonsIdsOrder: [],
                orderLessonSpaces: null,
            },
            //Functionality
            created: function () {
                //Load up all the lessons
                fetch("https://afterschoolclasses2-env.eba-upgmncnr.eu-west-2.elasticbeanstalk.com/collections/lessons").then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                webstore.lessons = json;
                            }
                        )
                    }
                );
            },
            methods: {
                //Searching functionality implemented in API
                search() {
                    fetch(`https://afterschoolclasses2-env.eba-upgmncnr.eu-west-2.elasticbeanstalk.com/collections/lessons/search?q=${this.searchTerm}`)
                        .then(response => response.json())
                        .then(data => {
                            this.searchResults = data;
                        })
                        .catch(error => console.error(error))
                },
                //Adding items to cart
                addItemToCart: function (lesson) {
                    this.cart.push(lesson.id);
                },
                //Toggling between product page and checkout page
                toggleShowProduct() {
                    this.showProduct = this.showProduct ? false : true;
                },
                //Submitting an order, updating the available spaces for the lessons submitted
                submitCheckoutForm() {
                    this.computeLessonsForOrder();
                    const newOrder = {
                        "name": this.order.name,
                        "phoneNumber": this.order.phone_number,
                        "lessonId": this.lessonsIdsOrder,
                        "numberOfSpaces": this.orderLessonSpaces
                    }

                    fetch("https://afterschoolclasses2-env.eba-upgmncnr.eu-west-2.elasticbeanstalk.com/collections/order", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(newOrder)
                    }).then(
                        function (response) {
                            response.json().then(
                                function (json) {
                                    console.log("Success: " + json.ackowledged);


                                }
                            )
                        }
                    )

                    //PUT route for updating the lessons
                    this.cart.forEach(j => {
                        this.lessons.forEach(i => {

                            let count = null;
                            if (j == i.id) {
                                count = count + 1;

                                const updateLesson = {
                                    "availableSpaces": i.availableSpaces - count
                                }

                                fetch(`https://afterschoolclasses2-env.eba-upgmncnr.eu-west-2.elasticbeanstalk.com/collections/lessons/${i._id}`, {
                                    method: "PUT",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify(updateLesson)
                                }).then(
                                    function (response) {
                                        response.json().then(
                                            function (json) {
                                                console.log("Success: " + json.ackowledged);
                                            }
                                        )
                                    }
                                )
                            }
                        })
                    })
                    alert("Thank you for submitting your order!");
                },
                //Input validation methods
                validName(name) {
                    var name_regex = /^[a-zA-Z]+$/;
                    return name_regex.test(name);
                },
                validNumber(phone_number) {
                    var phone_regex = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
                    return phone_regex.test(phone_number);
                },
                //Cart verifier
                canAddToCart(lesson) {
                    return lesson.availableSpaces > this.cartCount(lesson.id);
                },
                //Cart count method
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                //Classes left computation
                classesLeft(lesson) {
                    return lesson.availableSpaces - this.cartCount(lesson.id);
                },
                //Removing lessons from the checkout
                removeLesson(index) {
                    this.cart.splice(index, 1);
                },
                //Sorting method
                sort(s) {
                    if (s === this.sortBy) {
                        this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
                    }
                    this.sortBy = s;
                },
                //Computing lessons information for submitting an order
                computeLessonsForOrder() {
                    this.cart.forEach(i => {
                        this.lessonsIdsOrder.push(i);
                        this.orderLessonSpaces = this.orderLessonSpaces + 1;
                    })
                }
            },
            computed: {
                totalItemsInTheCart: function () {
                    return this.cart.length || " ";
                },
                sortedLessons() {
                    return this.lessons.sort((p1, p2) => {
                        let modifier = 1;
                        if (this.sortDirection === 'desc') modifier = -1;
                        if (p1[this.sortBy] < p2[this.sortBy]) return -1 * modifier; if (p1[this.sortBy] > p2[this.sortBy]) return 1 * modifier;
                        return 0;
                    });
                },
                canCheckout() {
                    return this.cart.length > 0;
                },
                //Computed properties for displaying user input requirements
                canSubmitDetails() {
                    this.order.errors = [];

                    if (!this.order.name) {
                        this.order.errors.push('Name required.');
                    } else if (!this.validName(this.order.name)) {
                        this.order.errors.push("The name can be letters only!");

                    }
                    if (!this.order.phone_number) {
                        this.order.errors.push('Phone required.');
                    } else if (!this.validNumber(this.order.phone_number)) {
                        this.order.errors.push("Valid phone number required in format XXX XXX XXXX, numbers only!");

                    }
                    else {
                        return true;
                    }
                },
            }
        })

    </script>

</body>

</html>